{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true,
      "spread" : true,
      "jsx": true,
      "globalReturn": true
    },

    "sourceType": "module"
  },

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "plugins": ["react"],

  "globals": {
    "__webpack_public_path__": true ,
    "jQuery": true
  },

  "extends": "eslint:recommended",
  "rules": {
    "no-unused-vars" : 0,
    "no-undef" : 2,
    "quotes": [2, "double"],
    "no-console": 2,
    "no-alert": 2,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}